# ---------- Python (backend) ----------
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ---------- Variaveis de ambiente ----------
.env
.env.local

# ---------- Banco de dados (etapa futura) ----------
*.db
*.sqlite3

# ---------- Frontend (etapa futura) ----------
node_modules/
dist/
build/
.vite/

# ---------- Editores / IDEs ----------
.vscode/
.idea/

# ---------- Sistema operacional ----------
.DS_Store
Thumbs.db

.vercel
.env*
